<!--[start]-->
<div class="start-logo"></div>
<div class="start-desc"><%=data.desc;%></div>
<div class="start-start">
    <div class="start-start-btn" data-find="start"><%=data.btnName;%></div>
</div>
<!--[page]-->
<div class="page-head">
    <div class="page-head-desc" data-find="title"><%=option.title;%></div>
</div>
<div class="page-container" data-find="container"></div>
<!--[steps]-->
<div class="steps-questions" data-find="questions"></div>
<div class="steps-btn">
    <div class="steps-btn-btn" data-find="next">Next</div>
</div>
<!--[end]-->
<div class="end-logo"></div>
<div class="end-desc"><%=data.desc;%></div>